.App {
  text-align: center;
}


.outer-map-container {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr max-content;
  grid-template-rows: .5fr 2fr 1fr;
  height: 90vh;
  width: 90vw;
}

.map-container {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#map {
  width: 100%;
  height: 100%;
}
.side-bar {
  background-color: rgba(187, 183, 207, 0.884);
  grid-row: 2;
  grid-column: 2;
  z-index: 10;
  height: min-content;
  margin: 5%;
  border-radius: 5px;
}
.marker-info-container {
  
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.marker-info{
  
  background-color: lightgray;
}
.newMarkerContainer {

  
  width: 100%;
  text-align: center;

}
#newMarker {
  display: inline-block;
}
#newMarkerForm form {
  width: 25vw;
  height: 25vh;
}

.marker {
  width: 25px;
  height: 25px;
  background-color: #61dafb;
  border-radius: 100%;
  z-index: 10;
}


canvas:focus {
  outline: none !important;
}