.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  el.style.width = "25px"
        el.style.height = "25px"
        el.style.backgroundColor = "lightblue"
        el.style.borderRadius = "100%"
        el.style.zIndex="10" */

.marker {
  width: 25px;
  height: 25px;
  background-color: #61dafb;
  border-radius: 100%;
  z-index: 10;
}

canvas:focus {
  outline: none !important;
}